[
    (source: "twig", target: "shard", result: "spear"),
    (source: "woodStruct", target: "wood", result: "table"),
    (source: "woodStruct", target: "twig", result: "table"),
    (source: "wood", target: "grass", result: "hut"),
    (source: "twig", target: "grass", result: "hut"),
    (source: "wood", target: "dryGrass", result: "hut"),
    (source: "twig", target: "dryGrass", result: "hut"),
    (source: "tri", target: "wood", result: "axe"),
    (source: "tri", target: "twig", result: "axe"),
    (source: "square", target: "wood", result: "hoe"),
    (source: "square", target: "twig", result: "hoe"),
    (source: "stone", target: "wood", result: "hammer"),
    (source: "stone", target: "twig", result: "hammer"),
    (source: "copperBlock", target: "grassRope", result: "copperCraft"),
    (source: "hut", target: "mushroomWood", result: "mushroomGreenhouse"),
    (source: "wood", target: "fire", result: "charcoal", near: true),
    (source: "twig", target: "fire", result: "charcoal", near: true),
    (source: "sheepMeat", target: "fire", result: "cookmeat", near: true),
    (source: "rabbitMeat", target: "fire", result: "cookmeat", near: true),
    (source: "fishMeat", target: "fire", result: "cookmeat", near: true),
    (source: "deerMeat", target: "fire", result: "cookmeat", near: true),
    (source: "wolfMeat", target: "fire", result: "cookmeat", near: true),
    (source: "humanMeat", target: "fire", result: "cookmeat", near: true),
    (source: "acorn", target: "fire", result: "cookmeat", near: true),
    (source: "pineCone", target: "fire", result: "cookmeat", near: true),
    (source: "caltropFruit", target: "fire", result: "cookmeat", near: true),
    (source: "lotusSeed", target: "fire", result: "cookmeat", near: true),
]
